:host {
    div.page {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;
        background-color: #15487b;
        padding: 0.6rem 0.8rem;
        overflow: hidden;

        div.header {
            padding-bottom: 12px;
        }

        div.content {
            flex: 1 1 0;
            position: relative;

            div.reviser {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        @media screen and (max-width: 500px) {
            padding: 0.3rem;
        }
    }
}