div.shared-list-viewer {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: #f3f2f2;
    border-radius: 0.36rem;
    padding: 0.36rem 0;
    // background-color: orange;

    div.header {
        height: 40px;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        p.title {
            margin: 0;
            padding: .5rem 0 0;
            font-size: 1.5rem;
            color: #514f4d;
        }
    }

    div.content {
        flex: 1 1 0;
    }
}