<div class="grid-header">
    <div class="left">
        <div class="view-wrapper" *ngIf='enableFilterView'>
            <p class="view-name">{{activeFilterViewName}}</p>
            <i class="pi pi-caret-down" style="font-size: 1.2rem;"></i>
        </div>
    </div>
    <div class="right">
        <div class="keyword-search">
            <i class="search pi pi-search"></i>
            <input type="text" placeholder="{{'tip.pleaseEnterAName'|translate}}" class="search">
            <i class="clear pi pi-times"></i>
        </div>
        <button matTooltip="{{'button.cancelSearch'|translate}}">
            <mat-icon>reply</mat-icon>
        </button>
        <button matTooltip="{{'button.refresh'|translate}}">
            <mat-icon>refresh</mat-icon>
        </button>
        <button matTooltip="{{'button.filter'|translate}}">
            <mat-icon>filter_list</mat-icon>
        </button>
        <button matTooltip="{{'button.delete'|translate}}">
            <mat-icon>delete_forever</mat-icon>
        </button>
        <!-- <button (click)='toggleDrawer()'>
            <mat-icon>{{_drawerIconFlag}}</mat-icon>
        </button> -->
        <!-- <button pButton type="button" icon="pi pi-arrow-left" iconPos="left" [disabled]="!enableReturn"
            (click)="reset()"></button>
        <button pButton type="button" icon="pi pi-cog" iconPos="left"
            (click)="advanceSettingMenuCt.toggle($event)"></button>
        <button pButton type="button" icon="pi pi-refresh" iconPos="left" (click)='refresh()'></button>
        <button pButton type="button" icon="pi pi-filter" iconPos="left" (click)='filter()'></button> -->
    </div>
</div>