<div class="grid-header">
    <div class="left">
        <div class="view-wrapper" *ngIf='enableFilterView'>
            <p class="view-name">{{activeFilterViewName}}</p>
            <mat-icon class="view-menu" [matMenuTriggerFor]="viewToggleMenu">keyboard_arrow_down</mat-icon>
        </div>
    </div>
    <div class="right">
        <div class="keyword-search">
            <input type="text" placeholder="{{'tip.pleaseEnterAName'|translate}}" class="search" [(ngModel)]='keyword'
                (keyup.enter)='search()' #keywordInput>
            <mat-icon class="clear" *ngIf='keyword' (click)='keyword="";search()'>clear</mat-icon>
        </div>
        <button matTooltip="{{'button.cancelSearch'|translate}}" [class.disabled]='!enableReturn'
            [disabled]="!enableReturn" (click)="reset()">
            <mat-icon>reply</mat-icon>
        </button>
        <button matTooltip="{{'button.refresh'|translate}}" (click)='refresh()'>
            <mat-icon>refresh</mat-icon>
        </button>
        <button matTooltip="{{'button.filter'|translate}}" (click)='filter()'>
            <mat-icon>filter_list</mat-icon>
        </button>
        <button matTooltip="{{'button.advance'|translate}}" [matMenuTriggerFor]="advanceSettingMenu">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</div>

<mat-menu class="view-toggle-menu" #viewToggleMenu="matMenu">
    <ng-container *ngFor='let it of filterViews'>
        <button mat-menu-item *ngIf='it.name!==activeFilterViewName' (click)='toggleView(it.id)'>{{it.name}}</button>
    </ng-container>
</mat-menu>

<mat-menu class="view-toggle-menu" #advanceSettingMenu="matMenu">
    <button mat-menu-item (click)='columnVisualSetting()'>选择需要显示的列</button>
    <button mat-menu-item [disabled]='!enableDelete' (click)='delete()'>删除</button>
</mat-menu>