div.toolbar {
    display: flex;
    flex-flow: row;
    width: 100%;
    color: white;

    .mat-icon.nav {
        min-width: 0;
        min-height: 0;
        outline: none;

        &:hover {
            cursor: pointer;
        }

        $gap-width: 10px;

        &.gap-r {
            margin-right: $gap-width;
        }
    }

    div.bar {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;

        p.profile {
            display: flex;
            flex-flow: row;
            align-items: center;
            margin: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }

    div.launcher {
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 100%;

        span.corporation {
            font-size: 1.2rem;
        }
    }

    //div.launcher

    div.fill {
        flex: 1 1 0;
    }

    @media screen and (max-width: 500px) {
        .mat-icon.nav {
            $gap-width: 6px;

            &.gap-r {
                margin-right: $gap-width;
            }
        }
    }

    //@media
}