div.shared-detail-viewer {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    // background-color: #f3f2f2;
    // border-radius: 0.36rem;

    div.header {
        display: flex;
        flex-flow: row;
        align-items: center;
        position: sticky;
        top: 0;
        padding: .8rem 1rem;
        background-color: #f3f2f2;
        border-top-left-radius: 0.36rem;
        border-top-right-radius: 0.36rem;

        div.icon {
            $size: 40px;
            width: $size + 1px;
            height: $size + 1px;
            border: 1px solid #cccccc;
            background-color: #fff;
            border-radius: 2px;
            margin-right: 0.5rem;

            &:hover {
                cursor: zoom-in;
            }

            img {
                width: $size;
                height: $size;
                border-radius: 2px;
            }
        }

        p.title {
            height: 2rem;
            margin: 0;
            padding: 0;
            line-height: 2rem;
            font-size: 1.3rem;
            font-weight: 500;
        }

        div.fill {
            flex: 1 1 auto;
        }
    }

    div.top-content {
        background-color: #fff;
        border-bottom-left-radius: 0.36rem;
        border-bottom-right-radius: 0.36rem;
    }

    div.bottom-content {
        flex: 1 1 0;
        display: flex;
        flex-flow: row;
        margin-top: .8rem;

        div.left-content {
            flex: 1 1 0;
            border-radius: 0.36rem;
            padding: 0.36rem;
            background-color: #fff;
        }

        div.right-content {
            margin-left: .8rem;
            padding: 0.36rem;
            border-radius: 0.36rem;
            background-color: #fff;
        }
    }

}